:host {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;
}

.tryhard-title {
  display: inline-block;
  border-radius: 3px;
  padding: 0 20px 0px 15px;
  animation: title-pulse 13s ease-in-out infinite;
}

@keyframes title-pulse {
  0%, 100% {
    background-color: transparent;
    color: #4edea3;
  }
  50% {
    background-color: #4edea3;
    color: #003824;
  }
}
