@if (loading()) {
  <div class="flex items-center justify-center min-h-[calc(100vh-4rem)]">
    <span class="material-symbols-outlined text-primary text-4xl animate-spin">progress_activity</span>
  </div>
} @else if (groups().length > 0) {
  <app-home-with [groups]="groups()" (openModal)="showModal.set(true)" />
} @else {
  <app-home-empty (openModal)="showModal.set(true)" />
}

@if (showModal()) {
  <app-create-group-modal
    (created)="onGroupCreated($event)"
    (closed)="showModal.set(false)"
  />
}
